{% comment %}
{% load static %} - сообщает Django, что следует загружать статические файлы из директории приложения, то есть shop
{% endcomment %}


{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <!-- Styles -->

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
{% comment %}
    {% endcomment %}

    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.min.css" %}">


</head>
<body>
    <div class="top-bar">
    <section class="top-bar-left">
        <ul class="menu">
            <li class="is-active"><a href="{% url "shop:ProductList" %}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{% url "articles:articles_all" %}">Article</a></li>
        </ul>
    </section>
    <section class="top-bar-right">
        <ul class="menu right">
        {% if username %}
            <li><a href="{% url "auth:logout" %}">Logout ({{ username }})</a></li>
        {% else %}
            <li>
                <a href="{% url "auth:login" %}">Login</a>
            </li>
        {% endif %}
        </ul>
    </section>
    </div>

    <section id="header">
        <div class="top container">
            <a href="{% url "shop:ProductList" %}">Kids Landing</a>
        </div>
        <div class="top-bl">
            <div class="container">
                <div class="cart">
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            Ваша корзина:
                        <a href="{% url "cart:CartDetail" %}">
                            {{ total_items }} тов. на {{ cart.get_total_price }} грн.
                        </a>
                        {% else %}
                            Корзина пустая
                        {% endif %}
                    {% endwith %}
                </div>

            </div>
        </div>
    </section>
    <div class="row">
        <div class="small-6 large-2 columns"><!-- ... --></div>
        <div class="small-6 large-8 columns">
            <section id="content row" class="container">
                {% block content %}{% endblock %}
                {% block content_article %}{% endblock %}
                {% block login %}{% endblock %}
            </section>
        </div>
        <div class="small-12 large-2 columns"><!-- ... --></div>
    </div>

</body>
</html>